<!-- Content wrapper -->
<!-- Jquery js -->
<script type="text/javascript" src="/assets/vendor/libs/jquery/jquery.js"></script>

<!-- Popper js -->
<script src="/assets/vendor/libs/popper/popper.js"></script>

<!-- Bootstrap js -->
<script src="/assets/vendor/js/bootstrap.js"></script>
<link rel="stylesheet" href="/assets/vendor/libs/flatpickr/flatpickr.css" />
<script src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>

<!-- jQuery Validation JS -->
<script type="text/javascript" src="/assets/vendor/libs/jquery/jquery.validate.js"></script>
<link rel="stylesheet" href="/assets/vendor/libs/sweetalert2/sweetalert2.css" />

<script src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="/assets/vendor/libs/select2/select2.js"></script>
<link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css">

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Blogs/</span> Add-Blogs</h4>
        <!-- Basic Layout & Basic with Icons -->
        <div class="row">
            <!-- Basic with Icons -->
            <div class="col-xxl">
                <div class="card mb-4">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">ADD-BLOGS</h5>
                    </div>
                    <div class="card-body">
                        <form id="add-blog" enctype="multipart/form-data" class="row g-3" method="post">
                            <!-- Account Details -->
                            <div class="col-12">
                                <h6 class="fw-semibold"></h6>
                                <hr class="mt-0" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="AuthorName">Author Name</label>
                                <input type="text" id="authorname" class="form-control" placeholder="Author Name"
                                    name="authorname" value="" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="Title">Title</label>
                                <input type="text" id="Title" value="" class="form-control" placeholder="Title"
                                    name="title" />
                            </div>
                            <div class="col-md-6">
                                <label for="photo" class="form-label">Profile Pic</label>
                                <input class="form-control" type="file" name="photo"
                                    accept="image/png, image/jpg, image/jpeg" id="photo">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="date">DOB</label>
                                <input type="Date" class="form-control flatpickr-validation" name="date" id="date"
                                    required />
                            </div>
                            <div class="col-mb-6">
                                <label class="col-sm-2 col-form-label" for="basic-default-message">Message</label>
                                <div class="col-sm-12 ">
                                    <textarea id="basic-default-message" rows="6" name="description"
                                        class="form-control" placeholder="Hi, Do you have a moment to talk Joe?"
                                        aria-label="Hi, Do you have a moment to talk Joe?"
                                        aria-describedby="basic-icon-default-message2"></textarea>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <button type="submit" id="submit" class="btn btn-primary" name="submitButton"
                                    style="width: 30rem; margin: 0 auto;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/jquery/jquery.validate.js"></script>
<script src="/assets/vendor/libs/jquery/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {
        jQuery.validator.addMethod("domain", function (value, element) {
            return this.optional(element) || /^[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*\.[a-zA-Z]{2,}$/.test(value);
        }, "Please specify the correct domain for your documents");

        $('#add-blog').validate({
            rules: {
                authorname: {
                    required: true,
                },
                title: {
                    required: true,
                },
                description: {
                    required: true,
                },
                date: {
                    required: true,
                },
                photo: {
                    required: true,
                },
            },
            messages: {
                authorname: {
                    required: '*Please enter author Name',
                },
                title: {
                    required: '*Please enter title ',
                },
                description: {
                    required: '*Please enter description',
                },
                date: {
                    required: '*Please enter Date',
                },
                photo: {
                    required: '*Please enter chose photo',
                },
            },
            highlight: function (element, errorClass, validClass) {
                $(element).closest('.form-group').addClass(errorClass).removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest('.form-group').removeClass(errorClass).addClass(validClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            submitHandler: function (form) {
                if ($("#submit").valid()) {
                    var blogformdata = new FormData();
                    alert()

                    blogformdata.append('authorName', $('[name=authorname]').val())
                    blogformdata.append("title", $('[name=title]').val())
                    blogformdata.append("description", $('[name=description]').val())
                    blogformdata.append("date", $('[name=date]').val())
                    const image = document.querySelector('[name="photo"]');
                    blogformdata.append('avatar', image.files[0]);

                    new Response(blogformdata).text().then(console.log)
                    alert()
                    alert("last")

                    $.ajax({
                        url: '/blogs/add-blog',
                        type: 'POST',
                        data: blogformdata,
                        contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                        processData: false, // NEEDED, DON'T OMIT THIS
                        success: function (response) {
                            if (response.type === 'success') { // Check response.data.type instead of response.type
                                Swal.fire({
                                    icon: "success",
                                    title: response.message,
                                    showConfirmButton: !1,
                                    timer: 1500,
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    },
                                    buttonsStyling: !1,
                                }).then(function () {
                                    window.location.href = window.location.href;
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            // Handle the error response
                        }
                    });
                }
            }
        });
    });
</script>